/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }
.nav-link {
  font-weight: bolder;
}
.navbar-brand {
  font-weight: bold;
}

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331!important;
  }
}


/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

#how-to .stepper-vertical li .step-content p {
  font-size: 1rem;
}

#how-it-works ul.stepper {
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


@media (min-width: 768px) {
  .col-center .col {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (max-width: 767px) {
  .col-center .col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.light-blue-bg {
  background-color: #f0fffb;
}
.icon-list li i {
  font-size: 1.5rem;
  margin: 8px;
}
.icon-list li {
  line-height: 2;
}
h1 {
  font-size: 3.5rem !important;
}
h1, .h1 {
  color: #0ba;
}

.view {
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a:not([href]) {
  pointer-events: none;
}

.card.card-image {
  background: rgba(255, 255, 255, 0.09);
}

section.section-secondary {
  background-color: #f9f9f9;
}
